@font-face {
    font-family: 'Bebas Neue Thin';
    src: url(../fonts/BebasNeue-Thin.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Bookn';
    src: url(../fonts/BebasNeue-Book.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 300;
}